<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <h1 class="logo">Logo</h1>
            <ul class="main-nav">
                <li>Home</li>
                <li>Cursos</li>
                <li>Instrucciones</li>
                <li>Blog</li>
            </ul>
        </nav>
    </header>
        <div class="container">
            <div class="ads">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
            </div>
            <div class="principal">

            </div>
        </div>
    <footer>
        
    </footer>
    
</body>
</html>