*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    
}
.content{
    background-color: bisque;
    position: relative;
    border: 2px gray solid;
    border-radius: 10px;
    top:100px;
    max-width: 600px;
    min-width: 200px;
    min-height: 300px;
    margin: 0  auto;
    padding: 30px;
}
.title{
    background-color: brown;
    padding: 0 80px;
    border: 2px gray solid;
    border-radius: 10px;
    position: absolute;
    top: -30px;
    left: 30%;
    width:250px;
    max-width: 300px;
    min-width: 50px;
}